* {
  box-sizing: border-box;
}

html, button {
  font-family: "Helvetica Neue", sans-serif;
}

button {
  font-weight: bolder;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
}

section {
  margin-top: 2rem;
}

p {
  line-height: 1.4;
}

main {
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  width: 100vw;
}

h1 {
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0.5rem;
}

h1, h2 {
  text-align: center;
}

#view {
  width: 100%;
  height: 500px;
  position: relative;
  background: #000;
}

#record-button {
  display: none;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 2rem;
  background-color: red;
  border: solid 1px red;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#record-button[aria-hidden="false"] {
  display: block;
}

#record-button-text {
  display: block;
  position: relative;
  z-index: 1;
}

#rms-indicator {
  background-color: rgb(200,0,0);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 0;
}

#record-button:hover {
  background-color: rgb(220, 0, 0);
}

#saved-sounds-list {
  display: block;
  padding: 0;
}

#saved-sounds-list li {
  border-top: dashed 1px #aaa;
  display: block;
  margin-bottom: 1.2rem;
  padding-top: 0.5rem;
}

.sound-player-container {
  display: flex;
  margin-bottom: 1rem;
}

#saved-sounds-list li audio {
  display: inline-block;
  flex-grow: 1;
  vertical-align: middle;
}

li.uploading .sound-player-container:after {
  content: '\23f3';
}

li.error .sound-player-container:after {
  content: '\274c';
}

li.uploaded .sound-player-container:after {
  content: '\2705';
}

li .sound-player-container:after {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

#saved-sounds-list li p {
  font-weight: bold;
  margin: 0 0 0.25rem;
}

#start-button {
  display: block;
  font-size: 1.8rem;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 100%;
}

#start-button[aria-hidden="true"] {
  display: none;
}

#output {
  display: block;
}

#dl-progress {
  width: 100%;
}

#player, #dl-progress, #output {
  margin: 1em auto;
}
