* {
  box-sizing: border-box;
}


html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

html, button {
  font-family: 'Work Sans', sans-serif;
}

button {
  font-weight: bolder;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

header {
  color: #ddd;
  background: #3c6a47;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem 0.1rem;
}

header a {
  color: #ddd;
}

section {
  margin-top: 2rem;
}

p {
  line-height: 1.4;
  margin-bottom: 1.5em;
}

main {
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  width: 100vw;
}


footer {
  padding: 0.5rem 0.5rem 1rem;
}

h1 {
    font-weight: black;
    letter-spacing: -0.06em;
    margin: 0 0 0.5rem;
}

#view {
  width: 100%;
  height: 500px;
  position: relative;
  background: #000;
}

#record-button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  color: white;
  font-size: 1.4rem;
  background-color: rgb(200,0,0);
  border: solid 1px rgb(200,0,0);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#record-button-text {
  display: block;
  position: relative;
  z-index: 1;
}

#rms-indicator {
  background-color: rgb(200,0,0);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 0;
}

#record-button:hover {
  background-color: rgb(220, 0, 0);
}

#saved-sounds-list {
  display: block;
  padding: 0;
}

#saved-sounds-list li {
  border-top: dashed 1px #aaa;
  display: block;
  margin-bottom: 1.2rem;
  padding-top: 0.5rem;
}

.sound-player-container {
  display: flex;
  margin-bottom: 1rem;
}

#saved-sounds-list li audio {
  display: inline-block;
  flex-grow: 1;
  vertical-align: middle;
}

li.uploading .sound-player-container:after {
  content: '\23f3';
}

li.error .sound-player-container:after {
  content: '\274c';
}

li.uploaded .sound-player-container:after {
  content: '\2705';
}

li .sound-player-container:after {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

#saved-sounds-list li p {
  font-weight: bold;
  margin: 0 0 0.25rem;
}

#start-button {
  cursor: pointer;
  display: block;
  font-size: 1.8rem;
  margin: 1rem auto;
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

#start-button[aria-hidden="true"] {
  display: none;
}

#output {
  display: block;
}

#dl-progress {
  width: 100%;
}

#player, #dl-progress, #output {
  margin: 1em auto;
}

nav {
  margin: 0;
}

nav a {
    display: inline-block;
    border: 1px solid rgba(220,220,220,0.2);
    padding: .5rem;
    margin: .125rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background: #357b45;
}

hr {
  width: 5ch;
  margin: 2rem 0 1rem;
  border: none;
  border-top: solid 1px #ccc;
}

#soundwalk-label {
  font-weight: bold;
}

#waveform {
  width: 100%;
  height: 100px;
}

.recording-time-display {
  color: #3c6a47;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 960px) {
  nav {
    margin: 0;
  }

  h1 {
    margin: 0;
    flex-basis: 14ch;
    flex-shrink: 0;
  }

  header {
    display: flex;
    padding: 0.5rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  header p, header address {
    padding: 0 0.5rem;
    margin: 0.5rem 0 0.5rem auto;
  }

  address {
    font-style: normal;
    flex-shrink: 0;
  }
}
