html, button {
  font-family: Futura, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 750px;
  padding: 2rem;
  width: 100%;
}

#view {
  width: 100%;
  height: 500px;
  position: relative;
  background: #000;
}

#record-button {
  width: 200px;
  height: 200px;
  color: white;
  font-size: 2rem;
  background-color: red;
  border: solid 1px red;
  border-radius: 50%;
  cursor: pointer;
}

#record-button:hover {
  background-color: rgb(220, 0, 0);
}


#start-button {
  font-size: 2rem;
}

#output {
  display: block;
}
