* {
  box-sizing: border-box;
}

html, body {
  background: #3c6a47;
  font-size: 16px;
  line-height: 1.3;
}

html, button {
  font-family: 'Work Sans', sans-serif;
}

body, html {
  color: #ddd;
  margin: 0;
  padding: 0;
}

#mobile-overlay {
  background: #3c6a47dd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  text-align: center;
  z-index: 3;
}

#start-button {
  background: none;
  color: #ddd;
  cursor: pointer;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  border: 1px solid rgba(220,220,220,0.2);
  padding: .5rem;
  margin: 0 auto;
  text-transform: uppercase;
}

#view {
  width: 100vw;
  height: calc(100vh - 3.5rem);
  position: relative;
  background: #000;
}

a {
    color: #ddd;
    text-decoration: underline;
}

footer {
  padding: 0.5rem 0.5rem 1rem;
}

h1 {
    font-weight: black;
    letter-spacing: -0.06em;
    margin: 0 0 0.5rem;
}

p, address {
  margin: 0 0 0.5rem;
}

nav {
  margin: 0.5rem 0 1rem;
}

nav a {
    display: inline-block;
    border: 1px solid rgba(220,220,220,0.2);
    padding: .5rem;
    margin: .125rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover, #start-button:hover {
    background: #357b45;
}

#soundwalk-label {
  font-weight: bold;
}

#instructions {
  flex-basis: 20%;
  flex-shrink: 1;
  padding-top: .5rem;
  margin: 1rem 0;
  max-width: 60ch;
}

#instructions summary {
  margin-bottom: .5rem;
  font-weight: bolder;
}

@media screen and (min-width: 960px) {
  nav {
    margin: 0;
    flex-shrink: 0;
  }

  h1 {
    margin: 0;
    flex-basis: 14ch;
    flex-shrink: 0;
  }

  footer {
    display: flex;
    padding: 0.5rem;
  }

  p, address {
    padding: 0 0.5rem;
    margin: 0.5rem 0 0.5rem auto;
  }

  address {
    font-style: normal;
    flex-shrink: 0;
  }

  #instructions {
    margin: .5rem 0 0;
    padding: 0 2ch;
  }

  #instructions summary {
    margin-bottom: 0;
  }

  #instructions:open summary {
    margin-bottom: .5rem;
  }
}
